<html>
<head>
  <title>Zohra's portfolio</title>
</head>
<body>
<link rel="stylesheet" href="/Content/about.css">
<table>
    <tr><img src="Assets/images/mypic2.jpeg" height = "100px"/></tr>
    </table>
    <div style="padding-top: 20px;">
    <h2>About me</h2>
    <img src="Assets/images/mypic2.jpeg" />
    <table>
    <tr>
    <td>Name: </td>
    <td>Zohratul Zannat</td>
    </tr>
    <tr>
    <td valign="top">About me: </td>
    <td>
        <p>Hello Everyone, Zohra here! <br>
            I'm a Software Engineering Student at Centennial College. 
            Currently I'm enrolled in second semester, I'm fairly new into programming and web design. <br>
            So far, I've learnt basic html and css,
            this semester we will be learning JavaScript and Database. <br>
            I'm familiar with C#, Python and Java. 
            My goal is to become a fullstack developer and work on interesting projects. 

        </p>
    </td>
    </tr>
    <tr>
    <td>Resume: </td>
    <td><a href=".pdf">Click Here</a></td>
    </tr>
    </table>
    </div>
    </body>
    </html>