<html>
<head></head>
<link rel="stylesheet" href="/Content/projects.css">
<body>
<table>
<tr><img src="Assets/images/logo.jpg" height = "100px"/></tr>
</table>
<div style="padding-top: 20px;">
<h2>Projects</h2>
<table>
<tr>
<td><img src="Assets/images/commuterbuddy.png" height="100px"></td>
<td>
<strong>Commuter Buddy</strong><br>
Performance improved and designed the necessary diagrams.
<br>
Role: Design, Documentation
</td>
</tr>
<tr>
<td><img src="Assets/images/online library.jpg" height="100px"></td>
<td>
<strong>Online library project</strong><br>
Checked overall progress of the report and implemented designs and documents.
<br>
Role: Implentation, Documentation
</td>
</tr>
<tr>
<td><img src="Assets/images/cooking.jpg" height="100px"></td>
<td>
<strong>Cooking helper</strong><br>
Designed, documented, and implemented the tool that lets the program runs efficiently and kills the bugs in the program.
<br>
Role: Design, Documentation, Implementation
</td>
</tr>
</table>
</div>
</body>
</html>