<html>
<head></head>
<link rel="stylesheet" href="/Content/services.css">
<body>
<table>
<tr><img src="Assets/images/logo.jpg" height = "100px"/></tr>
<tr>
</tr>
</table>
<div style="padding-top: 20px;">
<h2>Services</h2>
<ol>
<li>Website Development</li>
<li>Android app Development</li>
<li>Database development</li>
</ol>
</div>
</body>
</html>